In [1]:
#Experiment no.1

In [2]:
#Aim:To perform operation of data aquisition

In [3]:
#Name:Tejas s Dhande
#Roll no.:11
#sec:A
#sub:ET 1
#date:06-10-2025

In [11]:
#importing the basic library
import pandas as pd
import os

os.getcwd()

In [20]:
os.chdir("C:\\Users\\VICTUS\\OneDrive")

In [27]:
data = pd.read_csv("C:\\Users\\VICTUS\\OneDrive\\Desktop\\diabetes.csv")

In [28]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [29]:
data.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0